<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userHome.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userHome.js"></script>

</head>
<body>
        <div class="nav-top-container">
            <div class="nav-logo title" style="position: absolute; top:16px; left: 10%; color: #1c74af">
                NJU-SE电影购票系统
            </div>
            <ul class="nav nav-pills" style="position: absolute; top:18px;left:45%; color: #1c74af !important;">
                <li role="presentation" class="active" style="color: #1c74af"><a href="#"  >首页</a></li>
                <li role="presentation"><a href="/user/movie" style="color: #1c74af">搜索电影</a></li>
            </ul>

            <div class="btn-group" style="position:absolute; top:18px;right:10%;">
                <button class="nav-user-container btn dropdown-toggle" style="vertical-align: 75%" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
                    <span class="gray-text" style="vertical-align: center;" id="user-name">&nbsp;<span class="caret"></span></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/user/buy">电影票</a></li>
                    <li><a href="/user/member">卡包</a></li>
                    <li><a href="/user/cost">充值/消费记录</a></li>
                    <li><a href="/user/info">个人信息</a></li>
                    <li id="logout"><a href="#">登出</a></li>
                </ul>
            </div>
        </div>
        <!-- 可能不需要的功能 -->

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="width: 68%;left: 15%;">
                    <img src="/images/onee.jpg" alt="First slide" >

                </div>
                <div class="item" style="left: 15%;">
                    <img src="/images/twoo.jpg" alt="Second slide">

                </div>
                <div class="item" style="left: 15%;">
                    <img src="/images/threee.jpg" alt="Third slide">

                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <!--span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></-span -->
                <i class="fa fa-caret-left fa-5x" aria-hidden="true" style="margin-top: 200px;"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-caret-right fa-5x" aria-hidden="true" style="margin-top: 200px;"></i>
                <!--            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="content-container">
            <div class="movie-contianer">
                <div class="panel-header">
                    <p class="title primary-text">热映电影
                        <a href="/user/movie">
                            <span class="panel-more" style="color:#1c74af">全部<i class="fa fa-chevron-right" aria-hidden="true" style="margin-left: 5px;"></i></span>

                        </a>
                    </p>
                </div>
                <ul class="movie-on-list card">
                    <div class="movie-item">
                        <a href="/user/movieDetail?id=12" target="_blank">
                            <div class="movie-poster">
                                <img class="poster-default" src="/images/twelve.jpg" />
                                <div class="movie-overlay movie-overlay-bg">
                                    <div class="movie-info">
                                        <div class="movie-title movie-title-padding"
                                             title="猎杀T34" >猎杀T34</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="movie-detail movie-detail-strong movie-sale">
                            <a href="/user/movieDetail?id=12"
                               class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:246061}" >购 票</a>
                        </div>
                        <div class="movie-ver"><i class="imax3d"></i></div>
                    </div>
                    <div class="movie-item">
                        <a href="/user/movieDetail?id=8" target="_blank" data-act="playingMovie-click" data-val="{movieid:1226516}">
                            <div class="movie-poster">
                                <img class="poster-default" src="/images/eight.jpg" />
                                <div class="movie-overlay movie-overlay-bg">
                                    <div class="movie-info">
                                        <div class="movie-title movie-title-padding"
                                             title="神奇女侠1984" >神奇女侠1984</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="movie-detail movie-detail-strong movie-sale">
                            <a href="/user/movieDetail?id=8"
                               class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:1226516}" >购 票</a>
                        </div>
                        <div class="movie-ver"></div>
                    </div>
                    <div class="movie-item">
                        <a href="/user/movieDetail?id=1" target="_blank" data-act="playingMovie-click" data-val="{movieid:1207959}">
                            <div class="movie-poster">
                                <img class="poster-default" src="/images/one.jpg" />
                                <div class="movie-overlay movie-overlay-bg">
                                    <div class="movie-info">
                                        <div class="movie-title movie-title-padding"
                                             title="拆弹专家2" >拆弹专家2</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="movie-detail movie-detail-strong movie-sale">
                            <a href="/user/movieDetail?id=1"
                               class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:1207959}" >购 票</a>
                        </div>
                        <div class="movie-ver"><i class="imax3d"></i></div>
                    </div>
                    <div class="movie-item">
                        <a href="/user/movieDetail?id=13" target="_blank" data-act="playingMovie-click" data-val="{movieid:1279730}">
                            <div class="movie-poster">
                                <img class="poster-default" src="/images/thirteen.jpg" />
                                <div class="movie-overlay movie-overlay-bg">
                                    <div class="movie-info">
                                        <div class="movie-title movie-title-padding"
                                             title="哆啦A梦：大雄的新恐龙" >哆啦A梦：大雄的新恐龙</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="movie-detail movie-detail-strong movie-sale">
                            <a href="/user/movieDetail?id=13"
                               class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:1279730}" >购 票</a>
                        </div>
                        <div class="movie-ver"><i class="m3d"></i></div>
                    </div>

                </ul>

                <p class="title primary-text">即将上映
                    <a href="/user/movie">
                        <span class="panel-more" style="color:#1c74af">全部<i class="fa fa-chevron-right" aria-hidden="true" style="margin-left: 5px;"></i></span>

                    </a>
                </p>
                <ul class="movie-off-list card">
                    <div class="movie-item">
                        <a href="/user/movieDetail?id=4" target="_blank">
                            <div class="movie-poster">
                                <img class="poster-default" src="/images/four.jpg" />
                                <div class="movie-overlay movie-overlay-bg">
                                    <div class="movie-info">
                                        <div class="movie-title movie-title-padding"
                                             title="悬崖上的波妞" >悬崖上的波妞</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="movie-detail movie-detail-strong movie-sale">
                            <a href="/user/movieDetail?id=4"
                               class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:246061}" >预览</a>
                        </div>
                        <div class="movie-ver"><i class="imax3d"></i></div>
                    </div>
                    <div class="movie-item">
                        <a href="/user/movieDetail?id=6" target="_blank">
                            <div class="movie-poster">
                                <img class="poster-default" src="/images/six.jpg" />
                                <div class="movie-overlay movie-overlay-bg">
                                    <div class="movie-info">
                                        <div class="movie-title movie-title-padding"
                                             title="送你一朵小红花" >送你一朵小红花</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="movie-detail movie-detail-strong movie-sale">
                            <a href="/user/movieDetail?id=6"
                               class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:246061}" >预览</a>
                        </div>
                        <div class="movie-ver"><i class="imax3d"></i></div>
                    </div>
                    <div class="movie-item">
                        <a href="/user/movieDetail?id=17" target="_blank" data-act="playingMovie-click" data-val="{movieid:1207959}">
                            <div class="movie-poster">
                                <img class="poster-default" src="/images/seventeen.jpg" />
                                <div class="movie-overlay movie-overlay-bg">
                                    <div class="movie-info">
                                        <div class="movie-title movie-title-padding"
                                             title="人潮汹涌" >人潮汹涌</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="movie-detail movie-detail-strong movie-sale">
                            <a href="/user/movieDetail?id=17"
                               class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:1207959}" >预览</a>
                        </div>
                        <div class="movie-ver"><i class="imax3d"></i></div>
                    </div>
                    <div class="movie-item">
                        <a href="/user/movieDetail?id=5" target="_blank" data-act="playingMovie-click" data-val="{movieid:1279730}">
                            <div class="movie-poster">
                                <img class="poster-default" src="/images/five.jpg" />
                                <div class="movie-overlay movie-overlay-bg">
                                    <div class="movie-info">
                                        <div class="movie-title movie-title-padding"
                                             title="海底小纵队：火焰之环" >海底小纵队：火焰之环</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="movie-detail movie-detail-strong movie-sale">
                            <a href="/user/movieDetail?id=5"
                               class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:1279730}" >预览</a>
                        </div>
                        <div class="movie-ver"><i class="m3d"></i></div>
                    </div>

                </ul>
            </div>
            <div class="statistic-container">
                <p class="title primary-text">票房统计</p>
                <ul class="top-sell-list card">
                    <div class="statistic-item">
                        <span>电影1</span>
                        <span class="error-text">99</span>
                    </div>
                    <div class="statistic-item">
                        <span>电影1</span>
                        <span class="error-text">99</span>
                    </div>
                    <div class="statistic-item">
                        <span>电影1</span>
                        <span class="error-text">99</span>
                    </div>
                </ul>
                <p class="title primary-text">最受欢迎影星</p>
                <ul class="top-expectation-list card">
                    <div class="statistic-item">
                        <span>电影1</span>
                        <span class="error-text">99</span>
                    </div>
                    <div class="statistic-item">
                        <span>电影1</span>
                        <span class="error-text">99</span>
                    </div>
                    <div class="statistic-item">
                        <span>电影1</span>
                        <span class="error-text">99</span>
                    </div>
                </ul>
            </div>
        </div>
</body>
</html>